# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# App
API_BASE_URL=http://localhost:8000
APP_URL=https://httpsms.com
APP_NAME=HTTP SMS
APP_GITHUB_URL=https://github.com/NdoleStudio/httpsms
APP_DOCUMENTATION_URL=https://docs.httpsms.com
APP_DOWNLOAD_URL=https://apk.httpsms.com/HttpSms.apk
APP_ENV=local

# Billing
CHECKOUT_URL=
ENTERPRISE_CHECKOUT_URL=

# Cloudflare
CLOUDFLARE_TURNSTILE_SITE_KEY=

# Pusher
PUSHER_KEY=
PUSHER_CLUSTER=
